@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #000000, #0c1414, #1b2d2d, #587c7c);
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.header .logo {
    width: 160px;
    scale: 1.2;
}

.back-btn {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #5AD1C7;
    border-radius: 50px;
    transition: 0.3s ease;
}

.back-btn:hover {
    background: #5ad1c735;
}


.intro {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
}

.intro h1 {
    font-size: 3rem;
    text-shadow: 0 0 6px rgba(0, 255, 200, 0.3);
}

.intro p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
}

.how-section {
    display: flex;
    justify-content: left;
    padding: 2rem 1rem;
    z-index: 99;
}

.how-card {
    scale: 1;
    background: rgba(15, 25, 25, 0.4);
    padding: 2.5rem;
    width: 90%;
    max-width: 750px;
    border-radius: 18px;
    border: 1px solid rgba(90, 150, 135, 0.35);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 25px rgba(0, 255, 200, 0.08);
}

.how-card h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.how-card ul {
    margin-top: .5rem;
    line-height: 2;
    opacity: 0.85;
}


.biomes {
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding: 3rem;
    flex-wrap: wrap;
    z-index: 999;
}

.biome-card {
    scale: 1.05;
    background: rgba(20, 35, 35, 0.35);
    padding: 3rem;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(90, 150, 135, 0.35);
    backdrop-filter: blur(8px);
    transform: scale(1); 
    z-index: 999;
    transition:
        transform 0.45s cubic-bezier(.22,.61,.36,1),
        box-shadow 0.45s ease;
}

.biomes {
    perspective: 900px;
}


.biome-card:hover {
    transform: translateY(-8px) scale(1.08) rotateX(1deg);
    box-shadow: 0 0 30px rgba(0, 255, 200, 0.18);
    cursor: pointer;
}



.biome-card h3 {
    margin-bottom: .8rem;
}


.start-section {
    text-align: center;
    padding: 4rem;
}

.start-btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    background: white;
    color: black;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s ease;
    border: solid white 2px;
    box-shadow: 0 0 15px rgba(90, 230, 200, 0.25);
}

.start-btn:hover {
    background: #1c5163;
    color: white;
    box-shadow: 0 0 35px rgba(90, 230, 200, 0.5);
}

.xp-section {
    display: flex;
    justify-content: right;
    padding: 3rem 1rem;
}

.rank-section {
    display: flex;
    justify-content: left;
    padding: 3rem 1rem;
}

hr {
    margin: 3rem auto;
    width: 90%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #5ad1c76a, transparent);
}

@media (max-width: 768px) {
    .biome-card {
        width: 85%;
        margin: auto;
        padding: 2rem;
    }
}

.scroll-light {
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    height: 600px;
    transform: translateX(-50%);
    
    background: radial-gradient(
        circle,
        rgba(40, 41, 40, 0.45),
        rgba(58, 163, 147, 0.35),
        rgba(30, 90, 90, 0.18),
        transparent 75%
    );

    filter: blur(75px);
    opacity: 0.85;

    pointer-events: none;
    z-index: 3;

    transition:
        opacity 0.35s ease,
        filter 0.4s ease;
}


body.scrolling .scroll-light {
    filter: blur(90px);
    opacity: 1;
}






