@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #000000, #0c1414, #1b2d2d, #2c5045);
    color: white;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.logo{
    width: 150px;
    scale: 1.2;
}

.back-btn{
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    border: 1px solid #5AD1C7;
    transition: .3s ease;
}

.back-btn:hover{
    background: #5ad1c736;
}

.logo {
    border: none;
}

/* INTRO */
.intro{
    text-align: center;
    padding: 2rem;
}

.intro h1{
    font-size: 3rem;
    text-shadow: 0 0 6px rgba(0,255,200,.3);
}

.intro p{
    margin-top: 1rem;
    color: rgb(210,210,210);
}

/* GRID */
.catalogo{
    width: 90%;
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 2rem;
}

/* CARD */
.card{
    background: rgba(20, 35, 35, 0.35);
    border: 1px solid rgba(100,150,140,0.35);
    border-radius: 20px;
    padding: 1rem;
    backdrop-filter: blur(8px);
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,255,200,0.08);
    transition: 0.4s ease;
}

.card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 40px rgba(0,255,200,0.25);
}

.card img{
    width: 100%;
    border-radius: 15px;
    height: 180px;
    object-fit: cover;
}

.card .text{
    padding: 1rem 0.3rem;
}

.card h3{
    margin-bottom: .3rem;
}

/* SCROLL LIGHT */
.scroll-light{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 600px;
    background: radial-gradient(circle,
        rgba(80,255,210,0.28),
        rgba(50,120,110,0.2),
        rgba(0,0,0,0.1),
        transparent
    );
    filter: blur(80px);
    pointer-events: none;
    opacity: .85;
    transition: 0.3s ease;
    z-index: 4;
}

body.scrolling .scroll-light{
    filter: blur(110px);
    opacity: 1;
}

hr {
    margin: 1rem auto;
    width: 90%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #5ad1c76a, transparent);
}

img {
    border: solid 2px rgba(100,150,140,0.35);
}