
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background: linear-gradient(135deg, #000000, #0c1414, #1b2d2dee, #587c7c);
    color: white;
    min-height: 100vh;
    line-height: 1.5;
}

.gradient-blur {
    position:absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.blur {
    height: 0;
    width: 50rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 500px 10px rgba(150, 255, 200, 0.35);
    rotate: -30deg;
   
}

.container {
    width: 100%;
    margin: 0 auto;
    padding:  0 2rem;
    position: relative;
    overflow: hidden;
}

.menu-btn {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 9999;
}

.menu-btn span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: 0.3s ease;
}


header .logo img {
    width: 150px;
    height: auto;
    display: block;
    scale: 1.6;
    margin-bottom: 5px;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
   
}



nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
 
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
    transition: color 0.9s ease;
    margin-bottom: 40px;
    z-index: 999;
}

nav a:hover {  
    color: #4C8C87; 
}





 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
 }

 .content {
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
 }

.tag-box {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #0B2027, #007B7F, #5AD1C7,#007B7F, #0B2027);
    background-size: 200%;
    animation: gradient 2.5s linear infinite;
    box-shadow: 0 0 15px color gray;
 }

 @keyframes gradient {
    to {
        background-position: 200%;
    }
    
 }

 .tag-box .tag {
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
 }

 .tag-box .tag:hover {
    color: #4C8C87;
    cursor: pointer;
 }

 .content h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 5px gray;
 } 

 .desc {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: rgb(207, 207, 207);
 }

 .buttons {
    
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
 }

 .btn-start {
    color: white;
    text-decoration: none;
    border: 1px solid rgb(250, 250, 250);
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: background-color 0.3s ease;
 }

 .btn-start:hover {
    background-color: #1c5163;
 }

 .btn-login {
     border: solid white 2px;
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: background-color 0.3s ease-in-out;
    
 }

 .btn-login:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid white 2px;
 }

 .earth {
    position: absolute;
    top: 10%;
     right: -20%;
    scale: 1.6;
 }

 /* Responsividade Tablets */
@media (max-width: 1300px) {
    header {
        padding: 1rem 0.5rem;
    }

    .content{
        
        scale: 0.9;
    }

    .earth{
        scale:0.8;
        top: 10%;
        right: -27%;
    }
}

/* Responsividade Celular */
@media (max-width: 768px) {
    header {
        padding:0.1rem;
    }

    nav{
        display: none;
    }

    header .logo {
        scale: 0.7;
        filter: drop-shadow(0 0 1px rgba(181, 220, 237, 0.852));
    }

    .content {
        max-width: 30rem;
        margin-left: 10%;    
    }

    .earth {
        scale: 1;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: 0.15;
        pointer-events: none;
    }

    .tag-box{
        width: 12rem;
        text-align: center;
    }

    .content h2 {
        font-size: 2rem;
    }

    .desc {
        font-size: 1rem;
    }

    .btn-start {
        font-size: 0.8rem;
        padding: 1.2rem;
    }

    .btn-login {    
          font-size: 0.8rem;
        padding: 1.2rem;
    }

       body {
        background: radial-gradient(
            circle at center,
            rgba(78, 77, 77, 0.461) 0%,        /* centro super escuro */
            rgb(78, 82, 81) 25%, /* quase preto */
            rgb(43, 57, 55) 45%, /* profundidade escura */
            rgb(23, 37, 37) 65%, /* bordas discretas */
            rgb(0, 0, 0) 100% /* bordas bem escuras */
        );
        background-size: cover;
        overflow-x: hidden;
    }
    .blur {
        z-index: -999;
    }

}

.nav-links {
    display: flex;
    gap: 3rem;
    transition: 0.4s ease;
}

@media (max-width: 768px) {
    .menu-btn {
        display: flex;
    }

    nav.nav-links {
        position: absolute;
        top: 70px;
        right: 10px;
        background: rgba(20, 35, 35, 0.95);
        backdrop-filter: blur(6px);
        padding: 1.5rem 2rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 25px rgba(0,0,0,0.4);
        z-index: 999;
    }

    /* Estado expandido */
    nav.nav-links.active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }

    /* Esconde nav antiga */
    nav.nav-links a {
        font-size: 1.2rem;
        margin: 0;
    }
}

.menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

